footer.prm-main-footer
  .container
    .menu-footer
      ul
        li
          a(href='#') コンタクト
        li
          a(href='#') プライバシーポリシー
        li
          a(href='#') 利用規約
    p.copy-right 2017 Inc. All Rights Reserved