doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Premium Pilot
    link(rel='stylesheet', href='../stylesheets/themify-icons.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
    script(src='/dist/app.bundle.js')